{% extends "base.html" %}

{% load taggsonomy %}

{% block content %}
  <h2>Tag:
    <span class="taggsonomy-tag" style="background-color: #{{ tag.color }}">
      {{ tag }}
    </span>
  </h2>
  <form class="taggsonomy" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="taggsonomy-form-field">
      {{ form.name.errors }}
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>
    <div class="taggsonomy-form-field">
      {{ form.color.errors }}
      {{ form.color.label_tag }}
      {{ form.color }}
    </div>
    <fieldset class="taggsonomy-form-fieldset">
      <legend>Supertags</legend>
      <div>
        <h4>Indirect Supertags</h4>
        {% for supertag in tag.get_indirect_supertags %}
          <span class="taggsonomy-tag" style="background-color: #{{ supertag.color }}">
            {{ supertag }}
          </span>
        {% empty %}
          <em>This tag has no indirect supertags.</em>
        {% endfor %}
      </div>
      <div>
        <h4>Direct Supertags</h4>
        {% for supertag in tag.get_direct_supertags %}
          <span class="taggsonomy-tag" style="background-color: #{{ supertag.color }}">
            {{ supertag }}
            <a class="taggsonomy-x"
               href="{% url 'taggsonomy:remove-supertag' tag.id supertag.id %}">
              &#x2717
            </a>
          </span>
        {% empty %}
          <em>This tag has no direct supertags (it is not included by any other tag).</em>
        {% endfor %}
      </div>
      <div class="taggsonomy-form-field">
        {{ form.supertags.errors }}
        {{ form.supertags.label_tag }}
        {{ form.supertags }}
      </div>
    </fieldset>
    <fieldset class="taggsonomy-form-fieldset">
      <legend>Subtags</legend>
      <div>
        <h4>Direct Subtags</h4>
        {% for subtag in tag.get_direct_subtags %}
          <span class="taggsonomy-tag" style="background-color: #{{ subtag.color }}">
            {{ subtag }}
            <a class="taggsonomy-x"
               href="{% url 'taggsonomy:remove-subtag' tag.id subtag.id %}">
              &#x2717
            </a>
          </span>
        {% empty %}
          <em>This tag has no direct subtags (it does not include any other tags).</em>
        {% endfor %}
      </div>
      <div class="taggsonomy-form-field">
        {{ form.subtags.errors }}
        {{ form.subtags.label_tag }}
        {{ form.subtags }}
      </div>
      <div>
        <h4>Indirect Subtags</h4>
        {% for subtag in tag.get_indirect_subtags %}
          <span class="taggsonomy-tag" style="background-color: #{{ subtag.color }}">
          {{ subtag }}
          </span>
        {% empty %}
          <em>This tag has no indirect subtags.</em>
        {% endfor %}
      </div>
    </fieldset>
    <input class="taggsonomy-action" type="submit"/>
  </form>
  <a href="{% url 'taggsonomy:tag-list' %}">Manage tags</a>
{% endblock %}
