{% extends "base.html" %}

{% load taggsonomy %}

{% block content %}
  <h2>Tag:
    <span class="taggsonomy-tag" style="background-color: #{{ tag.color }}">
      {{ tag }}
    </span>
  </h2>
  <form class="taggsonomy" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="taggsonomy-form-field">
      {{ form.name.errors }}
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>
    <div class="taggsonomy-form-field">
      {{ form.color.errors }}
      {{ form.color.label_tag }}
      {{ form.color }}
    </div>
    <input class="taggsonomy-action" type="submit"/>
  </form>
  <a href="{% url 'taggsonomy:tag-list' %}">Manage tags</a>
{% endblock %}
